.clients {

    // .budget__row

    &__row {
        gap: 30px 110px;
        align-items: center;
    }

    // .budget__content

    &__content {
    }

    // .budget__title

    &__title {
        max-width: 602px;

        @media (max-width: 768px) {
            max-width: none;
        }
    }

    // .budget__text

    &__text {
        max-width: 598px;
    }

    // .budget__img-wrap

    &__img-wrap {
        max-width: 550px;
        max-height: 400px;

        @media (max-width: 768px) {
            max-width: 300px;
            max-height: 250px;
        }
    }
}

