.code {

    // .code__row

    &__row {
        gap: 30px 90px;
        align-items: center;
    }

    // .code__content

    &__content {
    }

    // .code__title

    &__title {
        max-width: 649px;

        @media (max-width: 768px) {
            max-width: none;
        }
    }

    // .code__text

    &__text {
        max-width: 596px;
    }

    // .code__img-wrap

    &__img-wrap {
        max-width: 550px;
        max-height: 400px;

        @media (max-width: 768px) {
            max-width: 300px;
            max-height: 250px;
        }
    }
}

