.header {
    margin: 0px 0px 76px 0px;
    padding: 16px 0px;
    overflow: hidden;

    @media(max-width: 768px) {
        margin: 0;
    }

  
    // .header__wrap

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .header__menu

    &__menu {

        @media(max-width: 1130px) {
            display: none;
        }
    }

    // .header__menu-list

    &__menu-list {
        display: flex;
        align-items: center;
        gap: 0px 47px;
    }

    // .header__menu-item

    &__menu-item {
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
    }

    // .header__menu-link

    &__menu-link {

        &:hover {
            text-decoration: underline;
        }
    }

   
    // .header__contacts

    &__contacts {
        display: flex;
        align-items: center;
        gap: 0px 36px;

        @media(max-width: 1130px) {
            display: none;
        }
    }

    // .header__contacts-btn

    &__contacts-btn {
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;

        &:hover {
            text-decoration: underline;
        }
    }
}
