.obligations {
    
    // .obligations__row

    &__row {
        gap: 30px 50px;
        align-items: center;

        @media (max-width: 1240px) {
            flex-direction: column;
        }
    }

    // .obligations__img-wrap

    &__img-wrap {
        max-width: 550px;
        max-height: 400px;

        @media (max-width: 768px) {
            max-width: 300px;
            max-height: 250px;
        }
    }

    // .obligations__content

    &__content {
    }

    // .obligations__title

    &__title {
        max-width: 602px;
        margin-left: auto;

        @media (max-width: 768px) {
            max-width: none;
        }
    }

    // .obligations__text

    &__text {
        max-width: 600px;
    }
}

