.projects {

    // .work__row

    &__row {
        gap: 30px;

        @media (max-width: 1240px) {
            flex-direction: column;
        }
    }

    // .work__img-wrap

    &__img-wrap {
        max-width: 550px;
        max-height: 400px;

        @media (max-width: 768px) {
            max-width: 300px;
            max-height: 250px;
        }
    }

    // .work__content

    &__content {
    }

    // .work__title

    &__title {
        max-width: 603px;
        margin-left: auto;

        @media (max-width: 768px) {
            max-width: none;
        }
    }

    // .work__text

    &__text {
        max-width: 599px;
    }
}
