.services {

    // .services__row

    &__row {
        align-items: center;
        gap: 30px 80px;

        @media (max-width: 1230px) {
            flex-direction: column-reverse;
        }
    }

    // .services__list

    &__list {
        display: flex;
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;

        @media (max-width: 768px) {
            gap: 5px;
        }
    }

    // .services__item

    &__item {
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 161px;
        max-width: 161px;
        background: rgba(255, 255, 255, 0.3);
        box-shadow: inset 0px 0px 60px #59e6d7;
        border-radius: 8px;
        
        @media (max-width: 768px) {
            padding: 7px;
            min-width: 68px;
            max-width: 68px;
            min-height: 80px;
        }
    }

    // .services__item-img

    &__item-img {
        margin: 0px 0px 15px 0px;
        max-width: 60px;
        max-height: 60px;
    }

    // .services__item-text

    &__item-text {
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        // max-width: 150px;

        @media (max-width: 768px) {
            font-weight: 500;
            font-size: 8px;
            line-height: 120%;
        }
    }

    
    // .services__content

    &__content {
        max-width: 592px;
    }

    // .services__title

    &__title {
        max-width: 494px;

        @media (max-width: 768px) {
            max-width: none;
        }
    }

    // .services__text

    &__text {
        @media (max-width: 1000px) {
            margin: 30px 0px 0px 0px;
        }
    }
}
