.taxation {

    // .taxation__row

    &__row {
        gap: 30px 50px;
        align-items: center;

        @media (max-width: 1240px) {
            flex-direction: column;
        }
    }

    // .taxation__img-wrap

    &__img-wrap {
        max-width: 550px;
        max-height: 400px;

        @media (max-width: 768px) {
            max-width: 300px;
            max-height: 250px;
        }
    }

    // .taxation__content

    &__content {
    }

    // .taxation__title

    &__title {
        max-width: 602px;
        margin-left: auto;
       
        @media (max-width: 768px) {
            max-width: none;
        }
    }

    // .taxation__text

    &__text {
        max-width: 600px;
    }
}
