.top {
    position: relative;
    z-index: 4;

    @media (max-width: 1240px) {
        margin: 0px 0px 60px 0px;
    }

    // .top__row

    &__row {
        align-items: center;
        gap: 30px 40px;

        @media (max-width: 1240px) {
            flex-direction: column-reverse;
        }
    }

    // .top__content

    &__content {
        max-width: 469px;
    }

    // .top__title

    &__title {
        max-width: 436px;

        @media (max-width: 768px) {
            max-width: none;
        }
    }

    // .top__text

    &__text {
    }

    // .top__img-wrap

    &__img-wrap {
        max-width: 550px;
        max-height: 400px;

        @media (max-width: 768px) {
            max-width: 300px;
            max-height: 250px;
        }
    }
}
